[Unit]
Description=BreadCounting Uvicorn Endpoint
After=network.target

[Service]
Type=simple
User=sunrise
WorkingDirectory=/home/sunrise/BreadCounting/
ExecStart=bash -c 'uvicorn src.endpoint.Server:app --host 192.168.1.206'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target